<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Scripts -->
    <script src="https://accounts.google.com/gsi/client" async></script>
    <script src="{{url_for('static', filename='scripts/app/g-sign-in.js')}}"></script>
    <script src="{{url_for('static', filename='scripts/app/titlebar.js')}}"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    
    <!-- Fonts -->
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,400,500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <!-- Tab title -->
    <title>Genta - Productivity for Individuals</title>
</head>
<body>
    <button id="signOutButton" style="display: none;">Sign out</button>

    <div class="main-body">
        <div id="header" class="header unselectable">
            <div id="header__inner-box" class="header__inner-box">
                <img src="{{url_for('static', filename='images/genta-logo.svg')}}" alt="Genta logo" width="60px" draggable="false">
                <img id="loading-animation" src="{{url_for('static',filename='images/loading.svg')}}" width="50px" alt="Loading animation" draggable="false">
                <div class="header__icon__hamburger" id="hamburger-button">
                    <img id="hamburger-icon" src="{{url_for('static', filename='images/icons/hamburger.svg')}}" alt="Open menu icon" draggable="false">
                </div>
            </div>

            <div id="header__link-container" class="header__link-container" style="opacity: 0;">
                <div class="header__link">
                    <p class="header__link__text typography__subtitle--link">
                        Software Engineering Major
                    </p>
                </div>
                <div class="header__link">
                    <p class="header__link__text typography__subtitle--link">
                        Enterprise Computing Major
                    </p>
                </div>
                <div class="header__link">
                    <div class="header__link__group--green">
                        <img src="{{url_for('static', filename='images/icons/add.svg')}}" alt="">
                        <p class="header__link__text typography__subtitle--clickable">
                            New Project
                        </p>
                    </div>
                </div>
                <div class="header__link" style="border-bottom: none;" onclick="signOut()">
                    <div class="header__link__group--red">
                        <img src="{{url_for('static', filename='images/icons/logout.svg')}}" alt="">
                        <p class="typography__subtitle--clickable-warn">
                            Sign out
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    
</body>
</html>