<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Scripts, stylesheets, and fonts -->
    <script src="https://accounts.google.com/gsi/client" async></script>
    <script src="{{url_for('static', filename='scripts/index.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    
    <!-- Fonts -->
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,400,500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <!-- Tab title -->
    <title>Genta - Productivity for Individuals</title>
</head>
<body>
    <!-- Sample typography -->
    <p class="typography__heading">Heading</p>
    <p class="typography__heading--editable">Heading editable</p>
    <p class="typography__heading--light">Heading light</p>
    <p class="typography__subtitle--bold">Subtitle</p>
    <p class="typography__subtitle">Subtitle</p>
    <p class="typography__subtitle--warn">Subtitle warn</p>
    <p class="typography__subtitle--clickable">Subtitle clickable</p>
    <p class="typography__subtitle--link">Subtitle link</p>
    <p class="typography__code">Code</p>
    <p class="typography__body">Body</p>
    <p class="typography__body--light">Body light</p>
    <p class="typography__body--strikethrough">Body strikethrough</p>
    <p class="typography__body--editable">Body editable</p>
    <p class="typography__body--clickable">Body clickable</p>
    <p class="typography__date">Date editable</p>
    <p class="typography__button">Button</p>
</body>
</html>