    <h2 class="text-header">Welcome to Genta Frontend</h2>
    <span>Welcome to this quick demonstration of the updates to <a href="https://genta-api.online/">https://genta-api.online/</a><!/span>
    <p>Genta operates on 3 main API routes that you're able to test.</p>
    <p id="textcorr" style="color: purple;">Checking your authentication status...</p>
    <div id="buttonDiv"></div>
    <img src="{{url_for('static', filename='images/loading.svg')}}" alt="" width="50">

    <p id="hello"></p>
    <button type="button" id="verifyLoginButton">Test /verify-login</button>
    <button type="button" id="getDataButton">Test /get-data</button>
    <button type="button" id="updateDataButton">Test /update-data *doesn't work</button>
    

    <!-- <a href="http://genta-api.online/add_user">Click here to view raw data from genta-api.online</a> --> 
    <p></p>
    <button type="button" id="signOutButton" style="display: None;">Sign out of Google</button>

